<div id="bottom-spancing">
  <button type="button" class="btn btn-success btn-sm" routerLink="/stock/add">Add New Stock</button>
</div>

<div id="wrapper">
  <h3>Stock List</h3>
</div>
<div>
  <p>
    <button id="spancing" type="button" class="btn btn-primary btn-sm" routerLink="/stock/detail">Show Detail</button>
    Stock el <i><b>Ghazela</b></i>
  </p>
  <p>
    <button id="spancing" type="button" class="btn btn-primary btn-sm" routerLink="/stock/detail">Show Detail</button>
    Stock <i><b>Ariana</b></i>
  </p>
</div>